# Use CPU-only PyTorch wheels
--find-links https://download.pytorch.org/whl/torch_stable.html

faiss-cpu==1.11.0
# faiss-gpu==1.7.2

# Hugging Face libraries
datasets==3.6.0
transformers==4.52.4

# PyTorch (CPU-only build)
torch==2.7.1+cpu

# Utility libraries
tqdm==4.67.1
requests==2.32.3
beautifulsoup4==4.13.4
pandas==2.3.0
Flask==3.1.1
pytest==8.4.0

# Docker
gunicorn==23.0.0